<!-- student_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <h2>{{ student.name }}'s Details</h2>
    <p><strong>Event:</strong> {{ student.event }}</p>
    <p><strong>Visitor Type:</strong> {{ student.visitor_type }}</p>
    <p><strong>Phone Number:</strong> {{ student.phone_number }}</p>
    <p><strong>College Name:</strong> {{ student.college_name }}</p>
    <p><strong>UID:</strong> {{ student.UID }}</p>
    <p><strong>College ID Card:</strong> <img src="{{ student.college_id_card.url }}" alt="College ID Card" /></p>

    <!-- QR Code -->
    <h3>QR Code</h3>
    <img src="{% url 'generate_qr_code' student.id %}" alt="QR Code">

</body>
</html>